* {
  box-sizing: border-box;outline: none; margin: 0px; padding: 0px;
}
body {
  font-size: 14px;
	background: rgba(17,17,17,1.00);
}
.menu{
	float: left;
	width: 100%;
	background: rgba(0,0,0,1.00);
}
.menu ul{
	text-decoration: none;
	color: rgba(255,255,255,1.00);
	list-style: none;
	padding: 0;
}
.menu ul li{
	display: inline;
	float: left;
	position: relative;
}
.menu ul li:last-child{
	float: right;
}
.menu ul li a{
	display: inline-block;
	color: rgba(255,255,255,1.00);
	text-decoration: none;
	padding: 30px;
	font-size: 36px;
	font-family: OCR A Extended;
}

.menu ul li a:hover{
	background-color: rgba(70,70,70,1.00);
	transition: 0.1s;
}
.menu ul ul{
	position: absolute;
	display: none;
	width: 150px;
	left: 0; 
}
.menu ul li:hover ul{
	position: absolute;
	display: block;
}
.menu ul ul li a{
	display: block;
	width: 200px;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}
.rodape {
  width: 100%;
  opacity: 1;
  position: absolute;
  top: 907px;
  left: 0px;
	background: rgba(0,0,0,1.00);
}
.rodape_txt {
    color: rgba(255,255,255,1);
    font-family: OCR A Extended;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    border: none;
    cursor: pointer;
	padding: 50px;
	background: rgba(0,0,0,1.00);
	border-radius: 0px;
	margin: 0px;
}
.rodape_txt_1 {
    color: rgba(255,255,255,1);
    font-family: OCR A Extended;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    border: none;
    cursor: pointer;
	padding: 50px;
	background: rgba(0,0,0,1.00);
	border-radius: 0px;
	margin: 0px;
}
.rodape_txt:hover, .rodape_txt_1:hover{
	background: rgba(60,60,60,1.00);
	transition: 0.2s;
}
.logo{
	background: url( "../imagens/logo pereirão nome.png");
	width: 30%;
	height: 97px;
	left: 35%;
	top: 0px;
	position: absolute;
	overflow: hidden;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
h1{
	color: rgba(255,255,255,1.00);
	font-size: 48px;
	text-align: center;
	left: 60%;
	width: 30%;
	position: relative;
	font-family: OCR A Extended;
    font-weight: Bold;
	border: rgba(255,255,255,1.00) solid 5px;
	border-radius: 15px;
	padding: 10px;
	top: 40px;
}
#login{
	width: 40%;
	left: 55%;
	top: 10%;
	text-align: center;
	position: relative;
}
#login label{
	top: 25px;
	font-family: OCR A Extended;
    font-weight: Bold;
	font-size: 36px;
	color: rgba(255,255,255,1.00);
	position:relative
}
#login input{
	border: none;
	border-radius: 15px;
	font-family: OCR A Extended;
    font-weight: Bold;
	font-size: 36px;
	color: rgba(66,66,66,1.00);
	width: 100%;
	margin-top: 50px;
	padding: 10px;
	text-align: center;
}
#login button{
	color: rgba(255,255,255,1.00);
	font-size: 36px;
	font-family: OCR A Extended;
    font-weight: Bold;
	margin-top: 80px;
	padding: 10px 15px;
	display: block;
	border-radius: 10px;
	border: 2px rgba(255,255,255,1.00) solid;
	background: rgba(67,67,67,1.00);
	float: right;
	cursor: pointer;
}
#login button:hover{
	background: rgba(36,36,36,1.00);
}
.corpo{
	border: solid 5px rgba(255,255,255,1.00);
	border-radius: 15px;
	width: 80%;
	left: 10%;
	top: 150px;
	padding: 10px;
	margin: 0px;
	position: absolute;
	height: 650px;
}
h1 img{
	position: relative;
	color: rgba(255,255,255,1.00);
	background: rgba(255,255,255,1.00);
	padding: 10px;
	left: 5%;
	width: 50px;
	height: 100%;
	border-radius: 10px;
	float: left;
}
.info{
	background: url( "../imagens/info.jpg");
	background-position: center;
	opacity: 0.35;
	background-size:cover;
	background-repeat: no-repeat;
	width: 50%;
	left: 0px;
	top: 0px;
	height: 100%;
	position: absolute;
	border-radius: 10px 0px 0px 10px;
}
.info_label{
	font-family: OCR A Extended;
    font-weight: Bold;
	font-size: 64px;
	color: rgba(255,255,255,1.00);
	position: absolute;
	width: 40%;
	left: 5%;
	top: 30%;
	text-align: center;
}
.info_label h2{
	font-size: 24px;
}